.item-tag-bg1 {
	background-color: #F1B976;
}

.item-tag-bg2 {
	background-color: #25B4A5;
}

.item-tag-bg3 {
	background-color: #0091FF;
}

.item-right-color1 {
	color: #F7B500;
}

.item-right-color2 {
	color: #0AC195;
}

.item-right-color3 {
	color: #9FA4AE;
}

.item-right-color4 {
	color: #9FA4AE;
}

.chat-tip-color1 {
	color: #F7B500;
	background-color: #F1B976;
}

.chat-tip-color2 {
	color: #25B4A5;
	background-color: #E1F0F1;
}

.chat-tip-color3 {
	color: #535568;
	background-color: #D8D8D8;
}

.chat-tip-color4 {
	color: #E02020;
	background-color: #F7E4E5;
}